<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Trade Terra</a>
        <ul class="navbar-nav flex-row gap-2 me-auto ">
            <li class="nav-item">
                <a class="nav-link active text-white" href="/charts">Charts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active text-white" href="/games">Games</a>
            </li>
        </ul>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvas">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasLabel">Offcanvas</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Stats</a>
                </li>
            </ul>
            <form class="d-flex mt-3" role="search">
                <input class="form-control me-2" type="search" placeholder="Search"/>
                <button class="btn btn-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<!--<nav class="navbar navbar-dark bg-dark">-->
<!--    <div class="container-fluid">-->
<!--        <a class="navbar-brand" href="/public">Trade Terra</a>-->
<!--        <ul class="navbar-nav flex-row gap-2 me-auto ">-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link active text-white" href="/charts">Charts</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link active text-white" href="/games">Games</a>-->
<!--            </li>-->
<!--        </ul>-->
<!--        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas">-->
<!--            <span class="navbar-toggler-icon"></span>-->
<!--        </button>-->
<!--    </div>-->

<!--    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvas">-->
<!--        <div class="offcanvas-header">-->
<!--            <h5 class="offcanvas-title" id="offcanvasLabel">Offcanvas</h5>-->
<!--            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>-->
<!--        </div>-->
<!--        <div class="offcanvas-body">-->
<!--            <ul class="navbar-nav">-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link active" href="#">Login</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="#">Stats</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--            <form class="d-flex mt-3" role="search">-->
<!--                <input class="form-control me-2" type="search" placeholder="Search"/>-->
<!--                <button class="btn btn-success" type="submit">Search</button>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</nav>-->