<div class="d-flex mb-2 mx-3">
    <button class="btn btn-outline-light btn-sm ms-auto main-link" style="border:none"><i class="bi bi-arrow-left fs-5"></i></button>
</div>
<form id="registerForm" class="mx-3">
    <div class="mb-3">
        <input type="text" class="form-control" placeholder="Username" autocomplete="username" required id="registerUsername">
    </div>
    <div class="mb-3">
        <input type="password" class="form-control" placeholder="Password" autocomplete="new-password" required id="registerPassword">
    </div>
    <div class="mb-3">
        <input type="password" class="form-control" placeholder="Confirm password" autocomplete="new-password" required id="registerConfirmPassword">
    </div>
    <button type="submit" class="btn btn-success w-100">Register</button>
    <div class="text-center mt-3">
        <p>Already have an account? <a href="" class="text-white login-link">Login</a></p>
    </div>
</form>