body {
    background: #aedff1;
    overflow: hidden;
}

.inner-bg {
    background-image: url('../images/trade-background.jpg');
    background-size: cover;
    background-position: center;
}

.flag-icon {
    width: 3rem;
    height: 2rem;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 10px;
}

.tile {
    cursor: grab;
    user-select: none;
}