body {
    background: #aedff1;
    overflow: hidden;
}

.inner-bg {
    background-image: url('../images/trade-background.jpg');
    background-size: cover;
    background-position: center;
}

.flag-icon {
    width: 3rem;
    height: 2rem;
    object-fit: cover;
    border-radius: 4px;
}

.tile {
    cursor: grab;
    user-select: none;
}

#dropdown:hover {
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}